page-login{
  .logo {
    padding: 10% 0 45% 0;
    text-align: center;
  }
  .item-md.item-block .item-inner {
    border-bottom: none;

  }
  .content-md{
    background-color:#282d39;
  }
  .login-width{
    margin: 3%;
    width: 94%;
    border-radius:5px;
  }
  .back{
    background-color: #282d39;
    color: white;
  }
}
