page-team {
    .head{
        background-color: #282d39;
        height: 56px;
    }
    ion-item{
        height:60px;
        display: inherit;
        border-radius: 5px;
        margin: 0 0 5px 0!important
    }
    .name{
        width: 50%;
        white-space: normal;
        overflow: hidden;
    }
    .element{
        vertical-align: center;
    }
    ion-content.content{
        background: #e1e1e1
    }
}
