headOn {
    .toolbar-background-md{
        background-color: #282d39;
        
    }
    .bar-button-md[icon-only]{
        color: #e1e1e1
    }
    .iterius{
        padding-right: 5px;
        height: 35px;
        float: left;
    }
    .time{
        color: white;
        display: inline;
        font-size: xx-large;
    }
}
