headOn {
    .toolbar-background{
        background-color: #282d39;
        
    }
    .bar-button[icon-only]{
        color: #e1e1e1
    }
    .iterius{
        padding-right: 5px;
        height: 35px;
        float: left;
    }
    .headtime{
        color: white;
        display: inline;
        font-size: xx-large;
        float: right;
    }
}
