page-member-tasks {
    .head{
        background-color: #282d39;
        height: 56px;
    }
    .name{
        width: 30%;
        white-space: normal;
        overflow: hidden;
    }
    .time{
        width: 47%;
    }
    .element{
        vertical-align: center;
    }
    .time > span {
        position: relative;
        bottom: 7px;
    }
    .element ion-icon{
        font-size: 2em;
        margin-left: 40px;
    }
    ion-item-options{
        height: 60px;
    }
    ion-item{
        height:60px;
        display: inherit;
        border-radius: 5px;
        margin: 0 0 5px 0!important
    }
    .active{
        background-color: #282d39;
        color: white;
    }
    .active .hour{
        border-color: #282d39;
        background-color: #ffffff;
        color: #282d39;
    }
    .active .hour p{
        color: #282d39;
    }
    ion-content{
        margin-top: 56px;
        background-color:#e1e1e1;
    }
    .content-md,.content-ios{
        background-color:#e1e1e1;
    }
    .element ion-label{
        display: -webkit-box
    }
    .hour {
        
        border-style: solid;
        border-color: #FFFFFF;
        border-width: 1px;
        text-align: center;
        color: #ffffff;
        width: 40px;
        background-color: #282d39;
        display: inline-block;
        border-radius: 3px;
    }
        
    .hour p {
        color: #FFFFFF;
    }
    ion-item-sliding{
        background: #e1e1e1!important;
    }
    .avatar {
        /*background-size: cover;*/
        float: left;
        width: 17%;
        height: 160%;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        overflow: hidden;
        }
    .avatar img {
       
        display: block;
        margin: auto;
        width: 100%;
    }
    .headname{
        display: inline;
    } 
    tbody tr.userData {
        background: #597EAA;
        border-color: #597EAA;
      }
      .userData td {
         
        border-color: #597EAA;
        text-align: left;
        padding-left: 3%;
      }
      .teamPage table {
        width: 100%;
        line-height: 2em;
        margin-bottom: 2%;
        color: white;
      }
      .label-ios{
          margin: 0;
      }
}
