<headOn></headOn>
<ion-content padding>
  <div class="titlePage">
    <h3>{{task.name}}</h3>
  </div>
  <ion-card>
    <ion-card-header class="description">
      {{'description'|translate}}
    </ion-card-header>
    <ion-card-content class="description">
      {{task.description}}
    </ion-card-content>
  </ion-card>
  <div class="startStopOrder" (click)="toggle()">
    <img class="pause" *ngIf='task.current' src="assets/img/pause.png">
    <img class="pause" *ngIf='!task.current' src="assets/img/play.png">
  </div>

  <ion-item class="time">{{task.time|headTime}}</ion-item>
</ion-content>